<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>数合わせ</title>
</head>
<body>
    <p>あなたの数字は<%= your %>です．</p>
    <p>コンピュータは<%= cpu %>です．</p>
    <p>判定：<%= judgement %></p>
    <p>現在<%= total %>回中<%= itti %>回一致，<%= huitti %>回不一致しています．</p>
    <hr>
    <form action="/suji">
        <input type="text" name="suji" required>
        <label for="hand">1から5のうち一つ入力</label>
        <input type="hidden" name="itti" value="<%= itti %>">
        <input type="hidden" name="huitti" value="<%= huitti %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="submit" values="数字　召喚">
    </form>   
</body>
</html>