<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>imput要素</title>
</head>
<body>
    <p>あなたは<%= value1 %>です．</p>
    <p>入力した日付は<%= value2 %>です．</p>
    <p>入力した日付は<%= value3 %>です．</p>
    <p>入力した数字は<%= value4 %>です．</p>
    <p>パスワードは<%= value5 %>です．</p>
    <p>あなたが選択したのは<%= value6 %>です．</p>
    <p><%= value7 %></p>
    <p><%= value8 %></p>

</body>
</html>